node-red-contrib-fileinput/examples/Stream file.json
[
  {
    "id": "2ed502bfa29e2808",
    "type": "tab",
    "label": "Stream file",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "48bad7e4f4896ec7",
    "type": "debug",
    "z": "2ed502bfa29e2808",
    "name": "Short file contents",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "{\"payload\":msg.payload, \"filename\":msg.filename, \"end\":msg.end}",
    "targetType": "jsonata",
    "statusVal": "",
    "statusType": "auto",
    "x": 310,
    "y": 60,
    "wires": []
  },
  {
    "id": "c0a451a79fd73011",
    "type": "fileinput",
    "z": "2ed502bfa29e2808",
    "name": "Short file",
    "datatype": "str",
    "stream": "yes",
    "property": "payload",
    "propertyType": "msg",
    "x": 120,
    "y": 60,
    "wires": [["48bad7e4f4896ec7"]]
  },
  {
    "id": "d3b07c5e4b9bbfcd",
    "type": "comment",
    "z": "2ed502bfa29e2808",
    "name": "Click the button!",
    "info": "",
    "x": 120,
    "y": 120,
    "wires": []
  },
  {
    "id": "3fd10e40aac609df",
    "type": "debug",
    "z": "2ed502bfa29e2808",
    "name": "Large file contents",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "{\"payload\":msg.payload, \"filename\":msg.filename, \"end\":msg.end}",
    "targetType": "jsonata",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 200,
    "wires": []
  },
  {
    "id": "b81ed27b350d07e0",
    "type": "fileinput",
    "z": "2ed502bfa29e2808",
    "name": "ISO file",
    "datatype": "buf",
    "stream": "yes",
    "property": "payload",
    "propertyType": "msg",
    "x": 110,
    "y": 200,
    "wires": [["7201ae9590790b6f"]]
  },
  {
    "id": "eaab31e05d47de5b",
    "type": "comment",
    "z": "2ed502bfa29e2808",
    "name": "Click the button!",
    "info": "",
    "x": 120,
    "y": 260,
    "wires": []
  },
  {
    "id": "7201ae9590790b6f",
    "type": "function",
    "z": "2ed502bfa29e2808",
    "name": "Filter first and last chunk",
    "func": "let chunks = flow.get(\"chunks\") || 0\nchunks++\nflow.set(\"chunks\", chunks)\nnode.status({text:`chunks: ${chunks}`})\nif (chunks === 1 || msg.end) {\n    return msg\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 180,
    "wires": [["3fd10e40aac609df"]]
  }
]
